{#
Displays a single harvest source result.

source         - A source to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).
show_organization - Boolean on whether to show the related organization

Example:

  {% snippet 'snippets/source_item.html', source=sources[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = source.title or source.name %}
{% set source_type = h.get_pkg_dict_extra(source, 'source_type') %}
{% set job = h.get_latest_job(source.get('id')) %}
{% set url = h.url_for('harvest_admin', id=source.name) if within_organization else h.url_for('harvest_read', id=source.name) %}

<li class="{{ item_class or "dataset-item" }}">
  <div class="dataset-content">
    <h3 class="dataset-heading">
      {{ h.link_to(h.truncate(title, truncate_title), url) }}
      {% if source.get(state, '').startswith('draft') %}
        <span class="label label-info">{{ _('Draft') }}</span>
      {% elif source.get(state, '').startswith('deleted') %}
        <span class="label label-important">{{ _('Deleted') }}</span>
      {% endif %}

        {% set stats = job.stats %}

        {% if job.status == 'Finished' %}
            <p>
    <span class="label label-important" data-diff="error">
      {% if 'errored' in stats and stats['errored'] > 0 %}
          {{ h.link_to("{} {}".format(stats['errored'], _('errors')), h.url_for('harvest_job_show', source=source.get('id'), id=job['id'])) }}
      {% else %}
          0 {{ _('errors') }}
      {% endif %}
    </span>
                {% for action in ['added', 'updated', 'deleted', 'not modified'] %}
                    <span class="label" data-diff="{{ action }}">
        {% if action in stats and stats[action] > 0 %}
            {{ stats[action] }}
        {% else %}
            0
        {% endif %}
                        {{ _(action) }}
      </span>
                {% endfor %}
            </p>
        {% endif %}

        <h3 class="hide-heading">{{ _('Details') }}</h3>
        <table class="table table-striped table-bordered table-condensed">
            <colgroup>
                <col width="15">
                <col width="85">
            </colgroup>
            <tr>
                <th>{{ _('Created') }}</th>
                <td>
        <span class="automatic-local-datetime" data-datetime="{{ h.render_datetime(job.created, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
            {{ h.render_datetime(job.created, with_hours=True) }}
        </span>
                </td>
            </tr>
            <tr>
                <th>{{ _('Started') }}</th>
                <td>
        <span class="automatic-local-datetime" data-datetime="{{ h.render_datetime(job.gather_started, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
            {{ h.render_datetime(job.gather_started, with_hours=True) }}
        </span>
                </td>
            </tr>
            <tr>
                <th>{{ _('Finished') }}</th>
                <td>
        <span class="automatic-local-datetime" data-datetime="{{ h.render_datetime(job.finished, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
            {{ h.render_datetime(job.finished, with_hours=True) }}
        </span>
                </td>
            </tr>
            <tr>
                <th>{{ _('Status') }}</th>
                <td>{{ _(job.status) }}</td>
            </tr>
            <tr>
                <th>{{ _('Organization') }}</th>
                <td>{{ h.link_to(source.organization.title or source.organization.name, h.url_for('organization_read', id=source.organization.name)) }}</td>
            </tr>
        </table>
    </h3>

    <p class="muted">
      {% if source.status %}
        {{ _('Datasets') }}: {{ source.status.total_datasets }}
      {% endif %}
    </p>

  </div>
</li>
