
{% set truncate_title = truncate_title or 80 %}
{% set title = job_report.source_name %}
{% set url = h.url_for('harvest_admin', id=job_report.source_name) %}


<li class="dataset-item">
  <div class="dataset-content">
    <h3 class="dataset-heading">
        <span>{{ _('Last Harvest Job for ')}}</span>
        {{ h.link_to(h.truncate(title, truncate_title), url)}}
    </h3>
      {% if job_report.object_error_summary %}
      {% snippet 'snippets/job_error_summary.html', summary=job_report.object_error_summary %}
      {% else %}
          <span>{{ _('No errors found.')}}</span>
      {% endif %}
  </div>
</li>
