/* Harvest styles */
#new-harvest-source {
	background: transparent url("images/icons/source_new.png") no-repeat 0px 0px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

#harvest-sources th.action{
    font-style: italic;
}

.harvester-title{
    font-weight: bold;
}

#harvest-source-actions {
    margin-bottom: 10px;
}

#harvest-source-actions img{
    vertical-align: middle;
    margin: 0 5px;
}
