language: python
python:
    - "2.7"
env:
    - CKANVERSION=master
    - CKANVERSION=2.2
    - CKANVERSION=2.3
    - CKANVERSION=2.4
services:
    - redis-server
install:
    - bash bin/travis-build.bash
script: sh bin/travis-run.sh
