#map{
    float: left;
    display: inline;
}
#layers{
    float: left;
    display: inline;
    margin-left: 20px;
}

/* OpenLayers */
.dataLbl{
    font-weight: bold;
    margin-bottom: 20px;
}

.dataLayersDiv input{
    margin: 0 10px 10px 0;
}

.dataLayersDiv span{
    margin: 0;
}
