#map{
    float: left;
    display: inline;
}
#layers{
    float: left;
    display: inline;
    margin-left: 20px;
}

/* OpenLayers */
.dataLbl{
    font-weight: bold;
    margin-bottom: 20px;
}

.dataLayersDiv span{
    margin-left: 10px;
}
