{% extends "source/admin_base.html" %}

{% block primary_content_inner %}
  <section class="module-content">
    {% if source.organization %}
      <p class="pull-right">
        <a href="{{ h.url_for(controller='ckanext.harvest.controllers.organization:OrganizationController', action='source_list_edit', id=source.organization.name) }}" class="btn">
          <i class="icon-arrow-left"></i>
          {{ _('Back to harvest sources') }}
        </a>
      </p>
    {% endif %}
    <h1>{{ _('Last Harvest Job') }}</h1>
    {% if source.status.last_job %}
      {% snippet "snippets/job_details.html", job=source.status.last_job %}
      <div class="form-actions">
        <a href="{{ h.url_for(controller='ckanext.harvest.controllers.view:ViewController', action='show_last_job', source=source.name) }}" class="btn pull-right">
          <i class="icon-briefcase"></i>
          {{ _('View full job report')  }}
        </a>
      </div>
    {% else %}
      <p class="empty">{{ _('No jobs yet for this source') }}</p>
    {% endif %}
  </section>
{% endblock %}
