{% extends "source/read_base.html" %}

{% block breadcrumb_content_root_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active"><a href="">{{ _('Admin') }}</a></li>
{% endblock %}

{% block actions_content %}
  <li>{{ h.nav_named_link(_('Refresh'), 'harvesting_job_create', id=source.id, class_='btn', icon='refresh')}}</li>
  <li>{{ h.nav_named_link(_('View harvest source'), '{0}_read'.format(c.dataset_type), id=source.name, class_='btn', icon='eye-open')}}</li>
{% endblock %}

{% block page_header %}
  {% snippet 'snippets/page_header.html', items=[
      h.build_nav_icon('{0}_admin'.format(c.dataset_type), _('Dashboard'), id=source.name),
      h.build_nav_icon('harvest_job_list'.format(c.dataset_type), _('Jobs'), source=source.name),
      h.build_nav_icon('{0}_edit'.format(c.dataset_type), _('Edit'), id=source.name),
    ] %}
{% endblock %}
