{% extends "source/admin_base.html" %}

{% block primary_content_inner %}
  <section class="module-content">
    <a href="{{ h.url_for(controller='ckanext.harvest.controllers.view:ViewController', action='show_last_job', source=source.name) }}" class="btn pull-right">
      <i class="icon-briefcase"></i>
      {{ _('View full job report')  }}
    </a>
    <h1>Last Harvest Job</h1>
    {% snippet "snippets/job_details.html", job=source.status.last_job %}
    <div class="form-actions">
      <a href="#" class="btn">View full job report</a>
    </div>
  </section>
{% endblock %}
