{% extends "source/base_form_page.html" %}

{% block breadcrumb_content %}
  <!-- TODO: link to list -->
  <li>{% link_for _('Harvest Sources'), controller='package', action='search', highlight_actions = 'new index' %}</li>
  <li>{{ h.nav_named_link(c.harvest_source.title|truncate(30), '{0}_read'.format(c.dataset_type), id=c.harvest_source.name) }}</li>
  <li class="active">{{ h.nav_named_link(_('Edit Harvest Source'), '{0}_edit'.format(c.dataset_type), id=c.harvest_source.name) }}</li>
{% endblock %}

{% block actions_content %}
  <li>{{ h.nav_named_link(_('View harvest source'), '{0}_read'.format(c.dataset_type), id=c.harvest_source.name, class_='btn', icon='eye-open')}}</li>
{% endblock %}

<!-- TODO back to source -->

{% block subtitle %}{{ _('Edit harvest source') }}{% endblock %}
