{% extends "page.html" %}

{% block title %}{{ _('New - Harvest Source') }} - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block styles %}
  {{ super() }}
  <link type="text/css" rel="stylesheet" media="all" href="/ckanext/harvest/style.css" />
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <div class="harvest-content">
        <h2>New harvest source </h2>

        {{ h.literal(c.form) }}

      </div>
    </div>
  </article>
{% endblock %}

{% block sidebar %}{% endblock %}
