{% import 'macros/form.html' as form %}

<form id="source-new" class="form-horizontal" method="post" >

  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

  {% call form.input('url', id='field-url', label=_('URL'), value=data.url, error=errors.url, classes=['control-full', 'control-large']) %}
      <span class="info-block">
        {{ _('This should include the http:// part of the URL') }}
      </span>
  {% endcall %}

  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full'], attrs={'data-module': 'slug-preview-target'}) }}

  {% set prefix = 'harvest_source' %}
  {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}

  {{ form.prepend('name', id='field-name', label=_('Name'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs) }}

  {{ form.markdown('notes', id='field-notes', label=_('Description'), value=data.notes, error=errors.notes) }}

  <div class="harvest-types control-group">
    <label class="control-label">Source type</label>
    <div class="controls">
      {% for harvester in h.harvesters_info() %}
        {% set checked = harvester['name'] == ( data.source_type or 'ckan' ) %}
        <label class="radio">
          <input type="radio" name="source_type" value="{{ harvester['name'] }}" {{ "checked " if checked }}>
          {{ harvester['title'] }}
          <i class="icon-question-sign" title="{{ harvester['description'] }}" data-toggle="tooltip"></i>
        </label>
      {% endfor %}
    </div>
  </div>

  {{ form.select('frequency', id='field-frequency', label=_('Frequency of update'), options=h.harvest_frequencies(), selected=data.frequency, error=errors.frequency) }}

  {{ form.textarea('config', id='field-config', label=_('Configuration'), value=data.config, error=errors.config) }}

  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
    <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}
  {% set existing_org = data.owner_org or data.group_id %}
  {% if h.check_access('sysadmin') or data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
    {% set organizations_available = h.organizations_available('create_dataset') %}
    {% if organizations_available %}
      <div class="control-group">
        <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
        <div class="controls">
          <select id="field-organizations" name="owner_org" data-module="autocomplete">
            <option value="">{{ _('Select an organization...') }}</option>
            {% for organization in organizations_available %}
              {# get out first org from users list only if there is not an existing org #}
              {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and organization.id == organizations_available[0].id) %}
              <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endif %}
  {% endif %}

  <p class="form-actions">
    <input id="save" name="save" value="Save" type="submit" class="btn btn-primary">
  </p>

</form>
