{% extends 'organization/edit_base.html' %}

{% block subtitle %}{{ _('Harvest Sources') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <div class="clearfix">
    <h1 class="hide-heading">{{ _('Harvest Sources') }}</h1>
    <div class="primary">
      <a href="{{ h.url_for('harvest_new', group=c.group_dict.id) }}" class="btn pull-right">
        <i class="icon-plus-sign-alt"></i>
        {{ _('Add Harvest Source') }}
      </a>
      <h3 class="results page-heading">
        {%- if c.page.item_count -%}
          {{ c.page.item_count }} harvest sources{{ _(" found for \"{query}\"").format(query=c.q) if c.q }}
        {%- elif request.params -%}
          {{ _('Sorry no harvest sources found for "{query}"').format(query=c.q) }}
        {%- else -%}
          {{ _('Harvest Sources') }}
        {%- endif -%}
      </h3>
      {% if c.page.item_count %}
        {% snippet 'snippets/source_list.html', sources=c.page.items, within_organization=true %}
      {% else %}
        <p class="empty">{{ _('Sorry no harvest sources found') }}</p>
      {% endif %}
    </div>
    <aside class="tertiary">
      <form method="GET">
        <span class="control-group search-normal">
          <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search sources...') }}" />
          <button type="submit"><i class="icon-search"></i> <span>{{ _('Search') }}</span></button>
        </span>
      </form>
      {% for facet in c.facet_titles %}
          {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, within_tertiary=true, extras={'id':c.group_dict.name}) }}
      {% endfor %}
    </aside>
  </div>
  {{ c.page.pager() }}
{% endblock %}
