{% extends 'organization/read_base.html' %}

{% block subtitle %}{{ _('Harvest Sources') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <div class="module-content">
    <h1 class="hide-heading">{{ _('Harvest Sources') }}</h1>
    {% if c.page.item_count %}
      {% snippet 'snippets/source_list.html', sources=c.page.items, within_organization=true %}
    {% else %}
      <p class="empty">{{ _('Sorry no harvest sources found') }}</p>
    {% endif %}
    {{ c.page.pager() }}
  </div>
{% endblock %}
