{% extends "page.html" %}

{% set pkg = c.pkg_dict %}

{% set authorized_user = h.check_access('harvest_source_update', {'id':pkg.id }) %}


{% block subtitle %}{{ pkg.title or pkg.name }}{% endblock %}

{% block breadcrumb_content %}
  <li>{{ h.nav_named_link(_('Harvest Sources'), '{0}_search'.format(c.dataset_type)) }}</li>
  <li class="active">{{ h.nav_named_link(c.harvest_source.title|truncate(30), '{0}_read'.format(c.dataset_type), id=c.harvest_source.name) }}</li>
{% endblock %}

{% block actions_content %}
  {% if  authorized_user %}
    <li>{{ h.nav_named_link(_('Edit'), '{0}_edit'.format(c.dataset_type), id=c.harvest_source.name, class_='btn btn-primary', icon='wrench')}}</li>
  {% endif %}
  <li>{{ h.follow_button('dataset', pkg.id) }}</li>
{% endblock %}

{% block primary_content %}
  {% block package_revision_info %}
    {% if c.pkg_revision_id %}
      <div class="module info">
        <p class="module-content">
          {% set timestamp = h.render_datetime(c.pkg_revision_timestamp, with_hours=True) %}
          {% set url =  h.url(controller='package', action='read', id=pkg.name) %}

          {% if c.pkg_revision_not_latest %}
            {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
          {% else %}
            {% trans timestamp=timestamp %}This is the current revision of this dataset, as edited at {{ timestamp }}.{% endtrans %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endblock %}

  <article class="module prose">

    {% block package_content %}

    {% block package_description %}

        <section class="module-content">
          <h1>{{ pkg.title or pkg.name }}
            {% if pkg.state.startswith('draft') %}
              [{{ _('Draft') }}]
            {% endif %}
          </h1>
          {% if c.pkg_notes_formatted %}
            <div class="notes embedded-content">
              {{ c.pkg_notes_formatted }}
            </div>
          {% endif %}
          <span class="insert-comment-thread"></span>
        </section>
      {% endblock %}

      {% block package_additional_info %}
        {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
      {% endblock %}

      {% if  authorized_user %}
      <section class="module-content additional-info">
        <h2>Last Harvest Job</h2>

        <a href="{{ h.url_for(controller='ckanext.harvest.controllers.view:ViewController', action='show_last_job', source=pkg.name) }}">{{ _('View full job report')  }}</a>

        {% snippet "snippets/job_details.html", job=pkg.status.last_job %}
      </section>
      {% endif %}

      <section class="module-content">
        <h3>Datasets</h3>
        {{ h.package_list_for_source(c.pkg_dict['id'])  }}
      </section>

    {% endblock %}
    </article>
{% endblock %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_groups %}
    {% for group in pkg.groups %}
      {% snippet "snippets/group.html", group=group, truncate=70 %}
    {% endfor %}
  {% endblock %}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}

  {% block package_license %}
    {% snippet "snippets/license.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}
