{% extends "source/base.html" %}

{% block admin_link %}
  {% if h.check_access('harvest_source_update', {'id':harvest_source.id }) %}
    {{ h.nav_link(_('Admin'), named_route='{0}_admin'.format(c.dataset_type), id=harvest_source.name, class_='btn btn-primary', icon='wrench')}}
  {% endif %}
{% endblock %}

{# CKAN 2.0 #}
{% block actions_content %}
  {% if authorized_user %}
    <li>{{ self.admin_link() }}</li>
  {% endif %}
{% endblock %}

{# TODO: once #354 is merged in CKAN core .profile-info doesn't exist #}
{% block secondary_content %}
  <div class="module context-info profile-info">
    <section class="module-content">
      <h1 class="heading">{{ harvest_source.title }}</h1>
      {% if harvest_source.notes %}
        <p>
          {{ h.markdown_extract(harvest_source.notes, 180) }}
          {{ h.nav_link(_('read more'), named_route='{0}_about'.format(c.dataset_type), id=harvest_source.name) }}
        </p>
      {% else %}
        <p class="empty">{{ _('There is no description for this harvest source') }}</p>
      {% endif %}
      <div class="nums">
        <dl>
            <dt>{{ _('Datasets') }}</dt>
            <dd>{{ h.package_count_for_source(harvest_source.id) }}</dd>
        </dl>
      </div>
    </section>
  </div>
{% endblock %}

{% block primary_content %}
  <article class="module prose">
    {% block page_header %}
      <header class="module-content page-header">
        {% block content_action %}
          <div class="content_action">
            {{ self.admin_link() }}
          </div>
        {% endblock %}
        <ul class="nav nav-tabs">
          {% block page_header_tabs %}
            {{ h.build_nav_icon('{0}_read'.format(c.dataset_type), _('Datasets'), id=harvest_source.name, icon='sitemap') }}
            {{ h.build_nav_icon('{0}_about'.format(c.dataset_type), _('About'), id=harvest_source.name, icon='info-sign') }}
          {% endblock %}
        </ul>
      </header>
    {% endblock %}
    {% block primary_content_inner %}{% endblock %}
  </article>
{% endblock %}
