{#
Displays information for a particular harvest job, including:

  * counts for added, updated, deleted or errored datasets
  * table with general details
  * table with a summary of the most common errors on this job

job        - dictized harvest job object

Example:

  {% snippet 'snippets/job_details.html', job=job %}

#}

{% set stats = job.stats %}

{% if job.status == 'Finished' %}
  <p>
    <span class="label label-important">
      {% if 'errored' in stats and stats['errored'] > 0 %}
        {{ stats['errored'] }}
      {% else %}
        0
      {% endif %}
      {{ _('errors') }}
    </span>
    {% for action in ['added', 'updated', 'deleted'] %}
      <span class="label" data-diff="{{ action }}">
        {% if action in stats and stats[action] > 0 %}
          {{ stats[action] }}
        {% else %}
          0
        {% endif %}
        {{ _(action) }}
      </span>
    {% endfor %}
  </p>
{% endif %}

<h3 class="hide-heading">{{ _('Details') }}</h3>
<table class="table table-striped table-bordered table-condensed">
  <colgroup>
    <col width="15">
    <col width="85">
  </colgroup>
  <tr>
    <th>{{ _('Id') }}</th>
    <td>{{ job.id }}</td>
  </tr>
  <tr>
    <th>{{ _('Created') }}</th>
    <td>
        <span class="datetime" data-datetime="{{ h.render_datetime(job.created, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
            {{ h.render_datetime(job.created, with_hours=True) }}
        </span>
    </td>
  </tr>
  <tr>
    <th>{{ _('Started') }}</th>
    <td>
        <span class="datetime" data-datetime="{{ h.render_datetime(job.gather_started, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
            {{ h.render_datetime(job.gather_started, with_hours=True) }}
        </span>
    </td>
  </tr>
  <tr>
    <th>{{ _('Finished') }}</th>
    <td>
        <span class="datetime" data-datetime="{{ h.render_datetime(job.finished, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
            {{ h.render_datetime(job.finished, with_hours=True) }}
        </span>
    </td>
  </tr>
  <tr>
    <th>{{ _('Status') }}</th>
    <td>{{ _(job.status) }}</td>
  </tr>
</table>
