{% extends "page.html" %}

{% block subtitle %}{{ _('Harvest Job Report')}}{% endblock %}

{% block breadcrumb_content %}
  <li>{{ h.nav_named_link(_('Harvest Sources'), '{0}_search'.format(c.dataset_type)) }}</li>
  <li>{{ h.nav_named_link(c.harvest_source.title|truncate(30), '{0}_read'.format(c.dataset_type), id=c.harvest_source.name) }}</li>
  <li>{{ h.nav_link(_('Jobs'), controller='ckanext.harvest.controllers.view:ViewController', action='list_jobs', source=c.harvest_source.name)}}</li>
  {% if c.is_last_job %}
  <li class="active">{{ h.nav_link(_('Last'), controller='ckanext.harvest.controllers.view:ViewController', action='show_last_job', source=c.harvest_source.name)}}</li>
  {% else %}
  <li class="active">{{ h.nav_link(c.job.id|truncate(30), controller='ckanext.harvest.controllers.view:ViewController', action='show_job', id=c.job.id, source=c.harvest_source.name)}}</li>
  {% endif %}

{% endblock %}

{% block primary %}

<article class="module">
  <div class="module-content">
  <h1 class="page-heading">{{ _('Harvest Job Report') }}</h1>

  {% snippet 'snippets/job_details.html', job=c.job %}

  <h3>{{ _('Error Report') }}</h3>
    <div style='font-size: 1.5em; margin: 1em 0;'>
      {{ c.job_report.keys()|length}} documents with errors
    </div>

    {% for harvest_object_id in c.job_report.keys() %}
    <div>
        <div>
            {{ c.job_report[harvest_object_id].guid }}

            {% if 'original_url' in c.job_report[harvest_object_id] %}
            (<a href="{{ c.job_report[harvest_object_id].original_url }}">{{ _('Remote content') }}</a>)
            {% endif %}

            ({{ h.link_for_harvest_object(harvest_object_id,text=_('Local content')) }})


        </div>
      {% for error in c.job_report[harvest_object_id].errors %}
      <div style="margin-left: 2em">{{ error.message }}
        {% if error.line %}
        <span>(line {{error.line}})</span>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    {% endfor %}

  </div>
 </article>
{% endblock %}

{% block styles %}
{{ super() }}
<!-- TODO: cleanup and resource -->
<link type="text/css" rel="stylesheet" media="all" href="/ckanext/harvest/style.css" />
{% endblock %}
