<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

    <py:def function="page_title">Edit - Harvest Source</py:def>
    <py:def function="page_heading">Edit harvest source </py:def>

    <py:def function="body_class">hide-sidebar</py:def>
    <py:def function="optional_head">
        <link rel="stylesheet" href="${g.site_url}/css/forms.css" type="text/css" media="screen, print" />
        <link type="text/css" rel="stylesheet" media="all" href="/ckanext/harvest/style.css" />
    </py:def>

    <div py:match="content">
        <div class="harvest-content">


            ${h.literal(c.form)}

        </div>
    </div>
    <xi:include href="../layout.html" />
    </html>
