<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Harvest Source Details</py:def>
  <py:def function="page_heading">Harvest Source Details</py:def>

  <py:def function="optional_head">
    <link type="text/css" rel="stylesheet" media="all" href="/ckanext/harvest/style.css" />
  </py:def>

<div py:match="content">
  <div class="harvest-content">
  <py:if test="c.source">
  <div id="harvest-source-actions">
    <img src="/ckanext/harvest/images/icons/source_edit.png" alt="Edit" /><a href="/harvest/edit/${c.source.id}">Edit source</a> |
    <img src="/ckanext/harvest/images/icons/source_refresh.png" alt="Refresh" /><a href="/harvest/refresh/${c.source.id}">Refresh source</a> |
    <a href="/harvest">Sources list</a>

    </div>
    <div py:if="not c.source.active" class="alert alert-block">NB: This Harvest Source is Withdrawn. Therefore the Gemini XML will not be harvested again. However, any metadata that was previously harvested, remains in the catalogue.</div>
    <table id="harvest-source-details" class="table table-bordered table-condensed">
        <tr>
            <th>ID</th>
            <td>${c.source.id}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td>${c.source.url}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>${c.source.type}</td>
        </tr>
        <tr>
            <th>Withdrawn</th>
            <td>${not c.source.active}</td>
        </tr>
        <tr py:if="c.source.title">
            <th>Title</th>
            <td>${c.source.title}</td>
        </tr>

        <tr>
            <th>Description</th>
            <td>${c.source.description}</td>
        </tr>
        <tr>
            <th>Configuration</th>
            <py:if test="c.source.config">
            <td>${c.source.config}</td>
            </py:if>
            <py:if test="not c.source.config">
            <td>-</td>
            </py:if>
        </tr>
        <tr py:if="c.publisher_auth">
            <th>User</th>
            <td>${c.source.user_id}</td>
        </tr>
        <tr py:if="c.publisher_auth">
            <th>Publisher</th>
            <py:if test="c.source.publisher_title">
            <td>${c.source.publisher_title}</td>
            </py:if>
            <py:if test="not c.source.publisher_title">
            <td>${c.source.publisher_id}</td>
            </py:if>
        </tr>
        <tr>
            <th>Created</th>
            <td>${c.source.created}</td>
        </tr>
        <tr>
            <th>Total jobs</th>
            <td>${c.source.status.job_count}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                <a name="errors"/>Last Harvest Errors: ${c.source.status.last_harvest_statistics.errors}<br/>
                <py:choose>
                    <py:when test="len(c.source.status.last_harvest_errors.gather)>0">
                        <i>Gathering errors</i>
                        <ul>
                        <li py:for="error in c.source.status.last_harvest_errors.gather">
                            <?python
                                lines = error.split('\n')
                            ?>
                            <div py:for="line in lines">${line}</div>
                        </li>
                        </ul>
                    </py:when>
                </py:choose>
                <py:choose>
                    <py:when test="len(c.source.status.last_harvest_errors.object)>0">
                       <i>Object errors</i>
                        <ul>
                        <li py:for="error in c.source.status.last_harvest_errors.object">
                            <div>GUID <a href="${g.site_url}/harvest/object/${error.object_id}">${error.object_guid}</a></div>
                            <?python
                                lines = error['message'].split('\n')
                            ?>
                            <div py:for="line in lines">${line}</div>
                        </li>
                        </ul>
                    </py:when>
                </py:choose>

                Last Harvest Added: ${c.source.status.last_harvest_statistics.added}<br/>
                Last Harvest Updated: ${c.source.status.last_harvest_statistics.updated}<br/>
                Last Harvest: ${c.source.status.last_harvest_request} <br/>
                Next Harvest: ${c.source.status.next_harvest}
            </td>
        </tr>
        <tr>
            <th>Total Errors</th>
            <td>${c.source.status.overall_statistics.errors}</td>
        </tr>
        <tr>
            <th>Total Datasets</th>
            <td>${c.source.status.overall_statistics.added}</td>
        </tr>
        <tr>
            <th>Datasets</th>
            <td>
                <a name="datasets"/>
                <div>There could be a 10 minutes delay before these datasets (or changes to them) appear on
                the site or on search results.</div>

                <p i18n:msg="item_count">There are <strong>${c.page.item_count}</strong> datasets.</p>

                ${c.page.pager()}
                <py:for each="item in c.page.items">
                <div>
                <a href="/dataset/${item}">${item}</a>
                </div>
                </py:for>
                ${c.page.pager()}

            </td>
        </tr>
    </table>
    </py:if>
  </div>
</div>
<xi:include href="../layout.html" />
</html>
