{% extends "source/admin_base.html" %}

{% set controller = 'ckanext.harvest.controllers.view:ViewController' %}

{% block subtitle %}{{ _('Harvest Jobs')}} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
<div class="module-content">

  <h1 class="results">{{ _('Harvest Jobs') }}</h1>

  {% if c.jobs|length == 0 %}
    <p class="empty">{{ _('No jobs yet for this source') }}</p>
  {% else %}
    <ul class="dataset-list unstyled">
      {% for job in c.jobs %}
        <li class="dataset-item">
          <div class="dataset-content">
            <h3 class="dataset-heading">
              <a href="{{ h.url_for(controller=controller, action='show_job', source=source.name, id=job.id) }}">
                {{ _('Job: ') }} {{ job.id }}
              </a>
              {% if job.status != 'Finished' %}
                <span class="label">{{ job.status }}</span>
              {% endif %}
            </h3>
            <p>
              {{ _('Started:') }}
              <span class="datetime" data-datetime="{{ h.render_datetime(job.gather_started, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
                {{ h.render_datetime(job.gather_started, with_hours=True) or _('Not yet') }}
              </span>
              &mdash;
              {{ _('Finished:') }}
              <span class="datetime" data-datetime="{{ h.render_datetime(job.finished, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
                {{ h.render_datetime(job.finished, with_hours=True) or _('Not yet') }}
              </span>
            </p>
          </div>
          {% if job.status == 'Finished' %}
            <ul class="dataset-resources unstyled">
              {% if 'errored' in job.stats and job.stats['errored'] > 0 %}
                <li>
                  <span class="label label-important">
                    {{ job.stats['errored'] }} {{ _('errors') }}
                  </span>
                </li>
              {% endif %}
              {% for action in ['added', 'updated', 'deleted'] %}
                <li>
                  <span class="label" data-diff="{{ action }}" title="{{ _(action) }}">
                    {% if action in job.stats and job.stats[action] > 0 %}
                      {{ job.stats[action] }}
                    {% else %}
                      0
                    {% endif %}
                    {{ _(action) }}
                  </span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
       {% endfor %}
    </ul>
  {% endif %}

</div>
{% endblock %}
  
