{% extends "source/admin_base.html" %}

{% block subtitle %}{{ _('Job Report') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
<div class="module-content">

  <p class="pull-right">
    {{ h.nav_named_link(_('Back to job list'), 'harvest_job_list', source=source.name, class_='btn', icon='arrow-left')}}
  </p>

  <h1>{{ _('Job Report') }}</h1>
  {% snippet 'snippets/job_details.html', job=c.job %}

  {% if c.job.status == 'Finished' %}

    {% if c.job.object_error_summary|length == 0 and c.job.gather_error_summary|length == 0 %}
      <h2>{{ _('Error Summary') }}</h2>
      <p class="empty">{{ _('No errors for this job') }}</p>
    {% else %}
      <h2>
        {{ _('Error Summary') }}
        <small>{{ _('Only the 20 most frequent errors are shown') }}</small>
      </h2>
      {% if c.job.gather_error_summary|length > 0 %}
        <h3>{{ _('Job Errors') }}</h3>
        {% snippet 'snippets/job_error_summary.html', summary=c.job.gather_error_summary %}
      {% endif %}
      {% if c.job.object_error_summary|length > 0 %}
        <h3>{{ _('Document Errors') }}</h3>
        {% snippet 'snippets/job_error_summary.html', summary=c.job.object_error_summary %}
      {% endif %}
    {% endif %}

    {% if c.job_report.gather_errors|length > 0 or c.job_report.object_errors.keys()|length > 0 %}
      <h2>
        {{ _('Error Report') }}
      </h2>
      {% if c.job_report.gather_errors|length > 0 %}
        <h3>{{ _('Job Errors') }}</h3>
        <table class="table table-bordered table-hover harvest-error-list">
          <tbody>
            {% for error  in c.job_report.gather_errors %}
            <tr>
              <td>
                  <div class="error">
                    {{ error.message }}
                  </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      {% if c.job_report.object_errors.keys()|length > 0 %}
        <h3>{{ _('Document Errors') }}
          <small>{{ c.job_report.object_errors.keys()|length}} {{ _('documents with errors') }}</small>
        </h3>
        <table class="table table-bordered table-hover harvest-error-list">
          <tbody>
            {% for harvest_object_id in c.job_report.object_errors.keys() %}
            {% set object = c.job_report.object_errors[harvest_object_id] %}
            <tr>
              <td>
                <span class="btn-group pull-right">
                  {% if 'original_url' in  object%}
                    <a href="{{ object.original_url }}" class="btn btn-small">
                      {{ _('Remote content') }}
                    </a>
                  {% endif %}
                  <a href="{{ h.url_for('harvest_object_show', id=harvest_object_id) }}" class="btn btn-small">
                    {{ _('Local content') }}
                  </a>

                </span>
                <h5>{{ object.guid }}</h5>
                {% for error in object.errors %}
                  <div class="error">
                    {{ error.message }}
                    {% if error.line %}
                      <span class="line">(line {{ error.line }})</span>
                    {% endif %}
                  </div>
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

  {% endif %}
  {% endif %}
{% endblock %}
