{% extends "source/admin_base.html" %}

{% block subtitle %}{{ _('Harvest Job Report')}}{% endblock %}

{% block primary_content_inner %}
<div class="module-content">

  <p class="pull-right">
    {{ h.nav_named_link(_('Back to job list'), 'harvest_job_list', source=source.name, class_='btn', icon='arrow-left')}}
  </p>

  <h1>{{ _('Job Report') }}</h1>

  {% snippet 'snippets/job_details.html', job=c.job %}

  <h3>{{ _('Error Report') }}</h3>
    <div style='font-size: 1.5em; margin: 1em 0;'>
      {{ c.job_report.keys()|length}} documents with errors
    </div>

    {% for harvest_object_id in c.job_report.keys() %}
    <div>
        <div>
            {{ c.job_report[harvest_object_id].guid }}

            {% if 'original_url' in c.job_report[harvest_object_id] %}
            (<a href="{{ c.job_report[harvest_object_id].original_url }}">{{ _('Remote content') }}</a>)
            {% endif %}

            ({{ h.link_for_harvest_object(harvest_object_id,text=_('Local content')) }})


        </div>
      {% for error in c.job_report[harvest_object_id].errors %}
      <div style="margin-left: 2em">{{ error.message }}
        {% if error.line %}
        <span>(line {{error.line}})</span>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block styles %}
{{ super() }}
<!-- TODO: cleanup and resource -->
<link type="text/css" rel="stylesheet" media="all" href="/ckanext/harvest/style.css" />
{% endblock %}
